$color-letra: #444444;
$color-hov:  #ffc56e;
$color-a: #ffb03b;
$background-h: rgba(26, 24, 22, 0.8);
$bg-black-04: rgba(0, 0, 0, 0.4);
$bg-black-09: rgba(0, 0, 0, 8.7);
$color-naranja-a: #ffa012;
$sucess: #18d26e;
$error: #ed3c0d;
$gris: #433f39;
$casi-blanco: #fff6e8;
$gris-ceta: #7a7368;
$mostaza: #ff9b08;
$gris-rari: #948c81;
$bl-gr: #dad8d4;

$gris-apagado: #46423b;


$bg-gris-os: #35322d;

$blanco: white !default;
$naranja:  #ffb03b !default;

$font-h : "Satisfy", sans-serif;
$font-body: "Poppins", sans-serif;
$comic9: "Comic Neue", sans-serif;
$arial-helv-ss: Arial, "Helvetica Neue", Helvetica, sans-serif;
$ita: italic;

