$color-letra: #444444;
$color-hov:  #ffc56e;
$color-a: #ffb03b;
$background-h: rgba(26, 24, 22, 0.85);
$color-naranja-a: #ffa012;

$blanco: white !default;
$naranja:  #ffb03b !default;

$font-h : "Satisfy", sans-serif;
$font-body: "Poppins", sans-serif;

