@mixin footer__{
    background: $bg-gris-os;
    color: $blanco;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}

@mixin footer__h3{
    font-size: 36px;
    font-weight: 700;
    color: $color-a;
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
}

@mixin footer__p{
    font-size: 15;
    font-style: $ita;
    padding: 0;
    margin: 0 0 40px 0;
}

@mixin footer__social{
    margin: 0 0 40px 0;
}

@mixin footer__social__a{
    font-size: 18px;
    display: inline-block;
    background: $gris-apagado;
    color: $blanco;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer{
    @include footer__;

    h3{
        @include footer__h3;
    }

    p{
        @include footer__p;
    }

    .copyright{
        margin: 0 0 5px 0;
    }

    .social-links{
        @include footer__social;

        a{
            @include footer__social__a;

        }
        a:hover{
            background: $naranja;
        }
        
    }
}
