@mixin menu__{
    padding: 0;
    margin: 0 auto 0 auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
}

@mixin menu__li{
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    margin: 0 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    border: 2px solid #ffb03b;
    border-radius: 50px;
}

@mixin menu__content{
    margin-top: 30px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
}

@mixin menu__content-after{
    content: "......................................................................"
    "...................................................................."
    "....................................................................";
     position: absolute;
     left: 20px;
     right: 0;
     top: -4px;
     z-index: 1;
     color: #dad8d4;
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@mixin menu__content-a{
    padding-right: 10px;
    background: #fff;
    position: relative;
    z-index: 3;
    font-weight: 700;
    color: #ff9b08;
}


@mixin menu__content-span{
    background: #fff;
    position: relative;
    z-index: 3;
    padding: 0 10px;
    font-weight: 600;
}

@mixin menu__ingredientes{
    font-style: italic;
    font-size: 14px;
    font-family: "Comic Neue", sans-serif;
    color: #948c81;
}


.menu{
    
    #opciones-menu{
        @include menu__;
        li{
            @include menu__li;
        }

        li:hover, li.todo{
            color: #fff;
            background: #ffb03b;
        }
        li:last-child{
            margin-right: 0;
        }
    }
    

    .menu-content{
        @include menu__content;
        a{
            @include menu__content-a;
        }
        span{
            @include menu__content-span;
        }
    }

    .menu-content::after{
        @include menu__content-after;
    }

    .ingredientes{
        @include menu__ingredientes;
    }
}
