$color-pop-body: #444444;
$color-hov:  #ffc56e;
$color-a: #ffb03b;
$background-h: rgba(26, 24, 22, 0.85);
$color-naranja-a: #ffa012;

$font-h : "Satisfy", sans-serif;
$font-body: "Poppins", sans-serif;

$calcular : calc(100% + 30px);

// GENERAL.CFG //

body{
    font-family: $font-body;
    color: $color-pop-body ;
}

a{
    color: $color-a;
    
    a:hover{
        color: $color-hov;
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-h;
}


//BOTON IR AL TOP//

.al-top{
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    
    i{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background: $color-a;
        color: #fff;
        transition: all 0.4s;
    }
    i:hover{
        background: #ffa012;
        color: #fff;
    }
}



//BARRA TOP//

#topbar{
    padding: 0;
    font-size: 15px;
    height: 50px;
    transition: all 0.5s;
    background: $background-h;
    color: rgba(255, 255, 255, 0.7);

    .topbar-transparent{
        background: transparent;
    }

    .topbar-scrolled{
        top: -50px;
    }

    .i{
        color: $color-a;
    }

    i+i{
        margin-left: 15px;
    }
}


// HEADER //

#header{
    top: 50px;
    height: 70px;
    z-index: 997;
    transition: all 0.5s;
    padding: 10px 0;
    background: $background-h;

    .header-transparent{
        background: transparent;
    }

    .header-scrolled{
        top: 0;
        background: $background-h;
    }

    .logo h1{
        font-size: 28px;
        margin: 0;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 3px;
    }

    .logo h1 a:hover{
        color: #fff;
        text-decoration: none;
    }

    @media (max-width: 992px) {
        #header {
          top: 0;
          background: rgba(26, 24, 22, 0.85);
        }
    }
    
}

// MENU NAVEGACION //

.nav-menu{
    *{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul li{
        position: relative;
        white-space: nowrap;
        float: left;
    }
    
    a{
        display: block;
        position: relative;
        color: white;
        padding: 9px 14px;
        transition: 0.3s;
        font-size: 15px;
        font-weight: 500;
        font-family: $font-body;
    }

    a:hover, .active > a, li:hover > a {
        color: $color-a;
        text-decoration: none;
    }

    .reserva-mesa a{
        background: $color-a;
        color: #fff;
        border-radius: 50px;
        margin: 0 0 0 20px;
        padding: 10px 25px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;
        transition: 0.3s;
    }    
    .reserva-mesa a:hover{
        background: $color-naranja-a;
        color: #fff;
    }

    .drop-down ul{
        display: block;
        position: absolute;
        left: 0;
        top: $calcular;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        padding: 10px 0;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: ease all 0.3s;
    }

    .drop-down:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .drop-down li {
        min-width: 180px;
        position: relative;
    }

    .drop-down ul a {
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 500;
        text-transform: none;
        color: #433f39;
     }

    .drop-down{
        ul:hover, ul .active > a,  ul li:hover > a{
            color: $color-a;
        }

        >a:after {
            content: "\ea99";
            font-family: IcoFont;
            padding-left: 5px;
        }

        .drop-down{
            ul{
                top: 0;
                left: $calcular;
                @media (max-width: 1366px)  {
                    left: -90%;                    
                }
            }

            :hover > ul{
                opacity: 1;
                top: 0;
                left: 100%;
                @media (max-width: 1366px)  {
                    left: -100%;                    
                }
            }

            > a {
                padding-right: 35px;
            }

            .drop-down{
                >a{
                    padding-right: 35px;
                }

                a:after{
                    content: "\eaa0";
                    font-family: IcoFont;
                    position: absolute;
                    right: 15px;
                    @media (max-width: 1366px)  {
                        content: "\ea9d";                    
                    }
                }
            }
        }
    }    
}



//Navegación movil//
